$fonts-path: '../fonts';
$montserrat-font-path: $fonts-path !default;
$roboto-font-path: $fonts-path !default;
$UbuntuFontsPath: $fonts-path !default;

$link-color: #30a6ea;
$template-title-background: #065684;
$template-title-color: #eee;
$template-title-hx-line-height: 1.2em;
