@import 'variables';

@import 'montserrat-webfont/scss/montserrat-webfont';
@import 'roboto-fontface/css/roboto-fontface.scss';
@import 'ubuntu-fontface/_ubuntu.scss';


// Variables

$slide-width: 1210px;
$slide-height: 681px;
$logo-width: 200px;
$logo-height: 80px;
$title-width: $slide-width;
$title-height: 450px;
$end-width: $slide-width;
$end-height: 500px;

// Style

body
{
  font-family: 'Roboto';
  font-weight: 400;
}
.slides-select__small
{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3; /* z-index is at 2 for .remark-visible */
  max-width: 100px;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
h1, h2, h3
{
  font-family: 'Montserrat';
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.remark-slide-content h1
{
  font-size: 3em;
}
.remark-slide-content h2
{
  font-size: 2em;
}
.remark-slide-content h3
{
  font-size: 1.6em;
}
li p
{
  line-height: 1.5em;
}
code
{
  border-radius: 4px;
}
.remark-code, .remark-inline-code
{
  font-family: 'Ubuntu Mono';
}

/* Themes for highlighted code */
.hljs-tomorrow
{
  .remark-code-line-highlighted
  {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.hljs-tomorrow-night
{
  .remark-code-line-highlighted {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

/* Templates */
.remark-slide-scaler
{
  background-color: $template-base-background;
}

.remark-slide-content
{
  background-color: transparent;
}

.template-base
{
  a, a > code
  {
    color: $template-base-link-color;
  }
  h1 {
    color: $template-base-h1-color;
  }
  h2 {
    color: $template-base-h2-color;
  }
}

.template-title
{
  &.remark-slide-content
  {
    padding-left: 0;
    padding-right: 0;
  }
  h1 {
    background-color: rgba(255, 255, 255, 0.5);
  }
  h1, h2, h3, p
  {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  padding-top: 377px;
  &:before
  {
    content: ' ';
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    width: $title-width;
    height: $title-height;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.template-title-bg1
{
  &:before
  {
    background-image: url('/img/background1.jpg');
  }
}

.template-title-bg2
{
  &:before
  {
    background-image: url('/img/background2.jpg');
  }
}

.template-title-bg3
{
  &:before
  {
    background-image: url('/img/background3.jpg');
  }
}

.template-title-bg4
{
  &:before
  {
    background-image: url('/img/background4.jpg');
  }
}

.template-title-end
{
  padding-top: 427px;
  &:before
  {
    background-size: $end-width $end-height;
    background-image: url('/img/end.png');
    width: $end-width;
    height: $end-height;
  }
}


.template-slide
{
  &:before
  {
    content: ' ';
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: $logo-width $logo-height;
    background-image: url('/img/logo.png');
    width: $logo-width;
    height: $logo-height;
    position: absolute;
    bottom: 0;
    left: ($slide-width - $logo-width) / 2;
    z-index: -1;
  }
}

/* Two-column layout */
.left-column
{
  color: #777;
  float: left;
  height: 92%;
  width: 25%;
}
.left-column h2:last-of-type
{
  color: $template-base-h1-color;
}
.left-column h3:last-child
{
  color: $template-base-h2-color;
}
.right-column
{
  float: right;
  padding-top: 1em;
  width: 70%;
}
